In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/ER_Aquatic Sediment.xlsx - ER.csv", index_col= False)
df.head()

   Cr     Mn      Fe      Co  Ni      Cu     Zn   As   Pb
0   0  0.615  2.7621  0.2576   0   0.000  1.748  0.0  0.0
1   0  0.755  2.1681     MDL   0   0.000  1.889  0.0  0.0
2   0  0.486  2.7810  0.3036   0   0.000  1.031  0.0  0.0
3   0  0.498  2.4300  0.2806   0  11.120  1.711  0.0  0.0
4   0  0.836  2.9916  0.3358   0   8.835  0.668  0.0  0.0

In [3]:
df

    Cr     Mn      Fe       Co  Ni      Cu     Zn     As    Pb
0    0  0.615  2.7621   0.2576   0   0.000  1.748   0.00  0.00
1    0  0.755  2.1681      MDL   0   0.000  1.889   0.00  0.00
2    0  0.486  2.7810   0.3036   0   0.000  1.031   0.00  0.00
3    0  0.498  2.4300   0.2806   0  11.120  1.711   0.00  0.00
4    0  0.836  2.9916   0.3358   0   8.835  0.668   0.00  0.00
5    0  0.619  2.8323   0.2392   0   0.000  0.801   0.00  0.00
6    0  0.511  2.7351  36.4964   0   0.000  0.740   4.15  0.00
7    0  0.706  2.7972  32.7451   0   0.000  1.353   0.00  0.00
8    0  0.539  2.5920  25.7002   0   0.000  0.991   0.00  0.00
9    0  0.720  2.7864  24.5364   0   0.000  1.257   0.00  0.00
10   0  0.876  3.1347  19.0417   0   0.000  1.483   0.00  0.00
11   0  0.486  3.0942      MDL   0   0.000  1.177   0.00  0.00
12   0  0.486  2.5677      MDL   0   0.000  0.749   0.00  0.00
13   0  0.486  2.5731   1.6767   0   0.000  0.981  23.55  0.00
14   0  0.530  2.4435   1.4904   0   0.000  0.900  18.70  0.00
15   0  0.956  2.7864   2.1275   0   0.000  1.894   0.00  0.79
16   0  0.778  2.3787   2.1183   0   0.000  1.116   0.00  1.21
17   0  0.337  2.5515   2.8451   0   0.000  1.185   0.00  0.89
18   0  0.756  2.2032   8.1351   0   0.000  2.802   0.00  0.00
19   0  0.322  2.7621   8.6319   0   0.000  2.359   0.00  0.00